[user]
	name = Joris Valette
	email = joris.valette@algolia.com

[core]
	editor = geany
	autocrlf = false
	filemode = false
	excludesfile = /home/joris/.gitignore

[log]
    decorate = auto

[branch]
	autosetuprebase = always

[diff]
	renameLimit = 5000

[merge]
	tool = p4merge
    conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"

[alias]
	# Misc
	alias = config --get-regexp ^alias\\.
	br = branch
	c = clone --recurse-submodules
	co = checkout
	cp = cherry-pick
	unstage = reset HEAD --
	# Status
	s = status -sb
	st = status
	# Log
	l = log --date=format:'%d/%m/%Y %H:%M' --pretty=format:'%C(auto)%h %C(bold magenta)%ad %C(bold blue)%an%C(auto)%d %C(auto)%s' --graph --all
	ll = log --decorate --oneline --graph
	lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --graph --all
	glop = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=short --graph --all
	topo = log --simplify-by-decoration --graph --oneline --all
	# Commit
	ci = commit --reedit-message=@ --reset-author
	tmp = "!f() { git commit --no-verify -am \"TMP: $1\"; }; f"
	commend = commit --amend --no-edit
	# Diff
	df = diff
	dfc = diff --cached
	# Stash
	sl = stash list
	stp = stash show -p
	ss = !sh -c 'git stash show -p stash@{$0}'
	sp = !sh -c 'git stash push -m "$0"'
	sg = stash --staged
	# Rebase
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbm = !sh -c 'git co master && git pu && git co - && git rb master'
	# Clean
	cl = clean -dff
	clx = clean -dffX
	pristine = !git reset --hard -q && git clean -dffxq
	upstream = reset --hard @{u}
	# Push/pull
	pu = pull --prune --tags
	prb = pull --rebase
	please = push --force-with-lease
	# Worktrees
	wr = !sh -c 'git worktree remove $0'
	wl = worktree list

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
