[Desktop Entry]
Type=Application
Exec=code
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=VSCode
Name=VSCode
Comment[en_US]=
Comment=
